<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>誰に</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>どのような</th>
    <td><%= @task.content %></td>
  </tr>
</table>
<%= link_to 'この愚痴を編集する', edit_task_path(@task),class: "btn btn-light" %>
<%= link_to 'この愚痴を削除する', @task, method: :delete, data: { confirm: '気持ちの整理はできましたか？' },class: "btn btn-danger" %>
